/* Import Font Icons */
@import '@flaticon/flaticon-uicons/css/all/all';

/* Root Variables */
:root {
	/* Color Palette */
	--color-primary-900: hsl(145, 63%, 24%);
	--color-primary-800: hsl(145, 63%, 30%);
	--color-primary-700: hsl(145, 63%, 39%);
	--color-primary-600: hsl(145, 63%, 50%);
	--color-primary-500: hsl(145, 63%, 42%);
	--color-primary-400: hsl(145, 63%, 70%);
	--color-primary-300: hsl(145, 63%, 84%);

	--color-secondary-900: hsl(48, 89%, 24%);
	--color-secondary-800: hsl(48, 89%, 30%);
	--color-secondary-700: hsl(48, 89%, 39%);
	--color-secondary-600: hsl(48, 89%, 50%);
	--color-secondary-500: hsl(48, 89%, 50%);
	--color-secondary-400: hsl(48, 89%, 70%);
	--color-secondary-300: hsl(48, 89%, 84%);

	--color-accent-900: hsl(6, 78%, 24%);
	--color-accent-800: hsl(6, 78%, 30%);
	--color-accent-700: hsl(6, 78%, 39%);
	--color-accent-600: hsl(6, 78%, 50%);
	--color-accent-500: hsl(6, 78%, 57%);
	--color-accent-400: hsl(6, 78%, 70%);
	--color-accent-300: hsl(6, 78%, 84%);

	--color-neutral-900: hsl(210, 29%, 24%);
	--color-neutral-800: hsl(209, 23%, 30%);
	--color-neutral-700: hsl(209, 28%, 39%);
	--color-neutral-600: hsl(211, 27%, 70%);
	--color-neutral-500: hsl(210, 22%, 84%);
	--color-neutral-400: hsl(209, 23%, 87%);
	--color-neutral-300: hsl(192, 16%, 94%);
	--color-neutral-200: hsl(210, 16%, 96%);
	--color-neutral-100: hsl(210, 16%, 98%);

	/* Icon Colors */
	--icon-color: var(--color-neutral-900);
	--icon-color-hover: var(--color-primary-500);

	/* Font Family */
	--font-family-primary: 'Roboto', sans-serif;

	/* Font Weights */
	--font-weight-regular: 400;
	--font-weight-semi-bold: 500;
	--font-weight-bold: 700;

	--font-family-body: var(--font-family-primary);

	--font-size-300: 0.75rem;
	--font-size-400: 0.875rem;
	--font-size-500: 1rem;
	--font-size-600: 1.25rem;
	--font-size-650: 1.5rem;
	--font-size-700: 1.875rem;
	--font-size-800: 2.25rem;
	--font-size-900: 3.5rem;

	/* Default Font Size */
	--font-size-body: var(--font-size-400);
	--font-size-nav: var(--font-size-500);
	--font-size-button: var(--font-size-600);

	/* Size Variables */
	--size-100: 0.25rem;
	--size-200: 0.5rem;
	--size-300: 0.75rem;
	--size-400: 1rem;
	--size-500: 1.5rem;
	--size-550: 1.75rem;
	--size-600: 2rem;
	--size-650: 2.5rem;
	--size-700: 3rem;
	--size-800: 4rem;
	--size-900: 5rem;
}

/* Reset */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	margin: 0;
	padding: 0;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}

/* General Styling */

body {
	font-family: var(--font-family-body);
	margin: 0;
	padding: 0;
}

/* Navigation */

.primary-header {
	position: sticky;
	z-index: 9999;
	top: 0;
	width: 100%;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	height: 80px;
	border-bottom: 1px solid var(--color-primary-500);
	background-color: white;
}

.nav-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-list {
	font-size: var(--font-size-nav);
	display: flex;
	align-items: center;
	gap: clamp(var(--size-400), 5vw, var(--size-600));
	font-weight: var(--font-weight-bold);
}

.nav-item {
	list-style: none;
}
.nav-item a {
	text-decoration: none;
	color: var(--color-neutral-900);
	font-weight: var(--font-weight-bold);
}

.nav-item a:hover,
.nav-item a:focus {
	color: var(--color-primary-500);
}

.nav-logo img {
	max-width: 10rem;
	height: auto; /* Maintain aspect ratio */
}

/* Input Box */

.inputBox {
	width: 100%;
	margin-bottom: var(--size-200);
}

.inputBox-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
}

.inputBox-input {
	width: 100%;
	border-radius: var(--size-500);
	padding: var(--size-400);
	padding-left: var(--size-700); /* Ensure this is enough space for the icon */
	background-color: var(--color-neutral-200);
	border: 1px solid var(--color-neutral-300);
	box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
	transition: background-color 0.3s, border-color 0.3s; /* Smooth transition */
}

.inputBox-input:focus {
	background-color: transparent;
	border-color: var(--color-primary-500);
	outline: none;
}

.inputBox-icon {
	position: absolute;
	left: 1rem;
	pointer-events: none;
}

.inputBox-icon--password {
	right: 1rem;
	cursor: pointer;
	left: auto;
	pointer-events: auto; /* Allow clicking on the eye icon */
}

input:disabled,
input:disabled ~ .inputBox-icon {
	opacity: 0.5;
}

/* Adding the class for the eye icon specifically */
.inputBox .fi-rr-eye {
	left: auto;
	right: 1rem;
	cursor: pointer;
}

.inputBox-validation {
	color: var(--color-accent-600);
	font-size: var(--font-size-300);
	margin-top: var(--size-100);
}

.inputBox-label {
	font-size: var(--font-size-500);
	color: var(--color-neutral-900);
	margin-bottom: var(--size-200);
	font-weight: var(--font-weight-bold);
	text-transform: capitalize;
}

/* Checkbox */

.checkbox {
	display: flex;
	align-items: center;
	margin-top: var(--size-400);
}

/* Styles for the checkbox label */
.checkbox-label {
	display: flex;
	align-items: center;
	cursor: pointer;
	font-size: var(--font-size-body);
	color: var(--color-neutral-900);
}

/* Styles for the checkbox input */
.checkbox-input {
	margin-right: var(--size-200);
	position: relative;
	width: 1.25rem; /* Adjusted width */
	height: 1.25rem; /* Adjusted height */
	appearance: none;
	background-color: var(--color-neutral-100);
	border: 2px solid var(--color-primary-500);
	border-radius: 0.25rem;
	cursor: pointer;
}

.checkbox-input:checked {
	background-color: var(--color-primary-500);
	border-color: var(--color-primary-500);
}

.checkbox-input:checked::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	width: 0.4rem; /* Adjusted width */
	height: 0.7rem; /* Adjusted height */
	border: solid white;
	border-width: 0 0.15rem 0.15rem 0;
}

/* Auth Form */
.authForm {
	padding: var(--size-400) 10vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.authForm-form {
	width: 100%;
	max-width: 400px;
}

.authForm-title {
	font-size: var(--font-size-800);
	font-weight: var(--font-weight-bold);
	line-height: var(--size-650);
	text-align: center;
	text-transform: capitalize;
	margin-bottom: var(--size-700);
	color: var(--color-primary-500);
}

.authForm-seperator {
	display: flex;
	align-items: center;
	gap: var(--size-200);
	width: 100%;
	position: relative;
	margin-top: var(--size-650);
	margin-bottom: var(--size-650);
	font-weight: var(--font-weight-bold);
	color: var(--color-primary-900);
	text-transform: uppercase;
	opacity: 0.7;
}

.authForm-seperator::before,
.authForm-seperator::after {
	content: '';
	flex: 1;
	border-bottom: 1px solid var(--color-primary-700);
}

.authForm-text {
	margin-top: var(--size-500);
	color: var(--color-neutral-900);
	font-size: var(--font-size-600);
	text-align: center;
}

.authForm-link {
	color: var(--color-primary-500);
	text-decoration: underline;
	margin-left: var(--size-100);
}

/* Button */

.button {
	display: inline-block;
	padding: var(--size-300) var(--size-500);
	margin-top: var(--size-400);
	border-radius: var(--size-500);
	font-size: var(--font-size-button);
	font-weight: var(--font-weight-semi-bold);
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border: none;
	color: white;
	text-decoration: none; /* Ensure link buttons don't have underline */
}

.button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.button-primary {
	background-color: var(--color-primary-500);
}

.button-primary:hover,
.button-primary:focus {
	background-color: var(--color-primary-700);
}

.button-logout {
	padding: var(--size-200) var(--size-400); /* Specific to logout button */
	font-size: var(--font-size-nav);
	text-transform: capitalize;
	background-color: var(--color-accent-500);
	margin-top: 0;
}

.button-logout:hover,
.button-logout:focus {
	background-color: var(--color-accent-700);
}

/* Textarea */
.textarea {
	width: 100%;
	margin-bottom: var(--size-200);
}

.textarea-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
}

.textarea-input {
	width: 100%;
	border-radius: var(--size-500);
	padding: var(--size-400);
	padding-left: var(--size-700); /* Ensure this is enough space for the icon */
	background-color: var(--color-neutral-200);
	border: 1px solid var(--color-neutral-300);
	transition: background-color 0.3s, border-color 0.3s;
	resize: vertical; /* Allow vertical resizing */
	box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.textarea-input:focus {
	background-color: transparent;
	border-color: var(--color-primary-500);
	outline: none;
}

.textarea-icon {
	position: absolute;
	top: 1rem;
	left: 1rem;
	pointer-events: none;
}

.textarea-label {
	font-size: var(--font-size-500);
	color: var(--color-neutral-900);
	margin-bottom: var(--size-200);
	font-weight: var(--font-weight-bold);
	text-transform: capitalize;
}

/* Select */
.select {
	position: relative;
	width: 100%;
	margin-bottom: var(--size-200);
}

.select-input {
	width: 100%;
	border-radius: var(--size-500);
	padding: var(--size-400);
	padding-right: 2.5rem; /* Ensure space for the dropdown icon */
	background-color: var(--color-neutral-200);
	border: 1px solid var(--color-neutral-300);
	transition: background-color 0.3s, border-color 0.3s;
	appearance: none; /* Remove default dropdown arrow */
}

.select-input:focus {
	background-color: transparent;
	border-color: var(--color-primary-500);
	outline: none;
}

.select-icon {
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none; /* Ensure the icon does not block clicks */
	color: var(--icon-color);
	font-size: 1.25rem;
	transition: color 0.3s;
}

.select-input:hover ~ .select-icon,
.select-input:focus ~ .select-icon {
	color: var(--icon-color-hover);
}

.select-input option:disabled {
	color: var(--color-neutral-600);
}

/* Icon  */

.icon {
	margin-left: var(--size-300);
	cursor: pointer;
	font-size: var(--font-size-650);
	color: var(--color-primary-500);
}

.icon:hover {
	color: var(--color-primary-700);
}

.icon--delete {
	color: var(--color-accent-500);
}

.icon--delete:hover {
	color: var(--color-accent-700);
}

/* Create Route Page */

.createRoute {
	position: relative;
	height: calc(100vh - 80px);
	width: 100vw;
}

.createRoute-sidebar {
	position: absolute;
	margin: var(--size-500);
	width: 25%;
	height: calc(100% - var(--size-500) * 2);
	padding: var(--size-400);
	box-sizing: border-box;
	overflow-y: auto;
	background-color: var(--color-neutral-100);
	z-index: 1000;
	border-radius: var(--size-500);
}

.createRoute-map {
	width: 100%;
	height: 100%;
	position: relative; /* Ensure the map covers the whole container */
}

.createRoute-title {
	font-size: var(--font-size-700);
	font-weight: var(--font-weight-bold);
	margin-bottom: var(--size-400);
	margin-top: var(--size-400);
	text-align: center;
	color: var(--color-primary-800);
}

.createRoute-description {
	font-size: var(--font-size-500);
	margin-bottom: var(--size-400);
	color: var(--color-neutral-900);
}

.createRoute-waypoint {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: var(--size-400);
}

.createRoute-button,
.createRoute-buttonInstructions {
	padding: var(--size-200) var(--size-400);
	font-size: var(--font-size-nav);
	background-color: var(--color-primary-500);
	margin-top: var(--size-300);
	margin-bottom: var(--size-300);
	text-align: center;
	text-transform: none;
}

.createRoute-buttonShare {
	padding: var(--size-300) var(--size-400);
	font-size: var(--font-size-500);
	width: 75%;
	background-color: var(--color-primary-800);
}

.createRoute-button:hover,
.createRoute-button:focus {
	background-color: var(--color-primary-700);
}

.createRoute-buttonInstructions {
	background-color: var(--color-accent-500);
}

.createRoute-buttonInstructions:hover,
.createRoute-buttonInstructions:focus {
	background-color: var(--color-accent-700);
}

/* Map */
.map-container {
	height: 100%;
	width: 100%;
}

/* AutoComplete */

.autoComplete {
	position: relative;
	width: 100%;
}

.autoComplete ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.autoComplete-suggestions {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	max-height: 20rem;
	overflow-y: auto;
	background: var(--color-neutral-100);
	border: 2px solid var(--color-neutral-500);
	border-top: none;
	border-radius: var(--size-500);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	z-index: 1000;
}

.autoComplete-suggestion {
	padding: 8px;
	cursor: pointer;
	border-bottom: 1px solid var(--color-neutral-500);
}

.autoComplete-suggestion:hover {
	background: var(--color-neutral-300);
}

/* Route Post Card */
.route-card {
	border: 1px solid var(--color-neutral-300);
	border-radius: var(--size-500);
	padding: var(--size-400);
	margin-bottom: var(--size-400);
	background: var(--color-neutral-100);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.route-card-header {
	display: flex;
	align-items: center;
	margin-bottom: var(--size-400);
}

.route-card-profile-picture {
	border-radius: 50%;
	width: var(--size-700);
	height: var(--size-700);
	margin-right: var(--size-400);
}

.route-card-header-info {
	display: flex;
	align-items: center;
	gap: var(--size-200);
}

.route-card-title {
	margin: 0;
	font-size: var(--font-size-600);
	color: var(--color-neutral-900);
}

.route-card-username {
	margin: 0;
	font-size: var(--font-size-500);
	color: var(--color-neutral-700);
}

.route-card-subtitle {
	margin: 0;
	font-size: var(--font-size-400);
	color: var(--color-neutral-600);
}

.route-card-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.route-card-details-box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	background-color: var(--color-neutral-300);
	padding: var(--size-200);
	margin-bottom: var(--size-200);
	gap: var(--size-200);
	border: 1px solid var(--color-neutral-400);
	border-radius: var(--size-500);
	text-wrap: nowrap;
}

.route-card-details-key {
	margin: 0;
	font-size: var(--font-size-500);
	color: var(--color-neutral-700);
}

.route-card-details-value {
	margin-top: 0;
	margin-bottom: var(--size-200);
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-600);
	color: var(--color-neutral-900);
}

.route-card-description {
	font-size: var(--font-size-500);
	margin: var(--size-400) 0;
	color: var(--color-neutral-800);
}

.route-card-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: var(--size-400);
	margin-inline: var(--size-400);
}

.route-card-actions-box {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--size-200);
	color: var(--color-neutral-700);
	transition: color 0.3s;
}

.route-card-actions-box:hover {
	color: var(--color-primary-700);
}

.route-card-actions-logo {
	cursor: pointer;
	font-size: var(--font-size-650);
	color: inherit;
	transition: color 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.route-card-actions-logo i {
	line-height: 1; /* Ensure line-height doesn't affect alignment */
}

.route-card-actions-logo:hover {
	color: var(--color-primary-700);
}

.route-card-actions-count {
	font-size: var(--font-size-500);
	display: flex;
	align-items: center;
	color: inherit;
}

.route-card-actions-box--liked {
	color: var(--color-primary-700);
}

.route-card-actions-box--bookmarked {
	color: var(--color-primary-700);
}

.route-card-actions-box--liked:hover,
.route-card-actions-box--liked span:hover,
.route-card-actions-box--bookmarked:hover {
	color: var(--color-neutral-700); /* Change this color as desired */
}

.route-card-map-container {
	height: 100%;
	width: 100%;
	border-radius: var(--size-500);
}

.route-card-map-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 20rem;
	gap: var(--size-400);
}

/* Feed */
.feed-container {
	padding: var(--size-400);
	max-width: 50rem;
	margin: 0 auto;
}

.single-route-post {
	padding: var(--size-400);
	max-width: 50rem;
	margin: 0 auto;
}

.comment-section {
	margin-top: var(--size-600);
	background-color: var(--color-neutral-100);
}

.comment-card {
	display: flex;
	align-items: center;
	gap: var(--size-300);
}

.comment-card-user-picture {
	border-radius: 50%;
	width: var(--size-700);
	height: var(--size-700);
	margin-right: var(--size-200);
}

.comment-card-header {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--size-300);
	margin-bottom: var(--size-100);
}

.comment-card-username {
	margin-bottom: var(--size-400);
	color: var(--color-primary-700);
	font-size: var(--font-size-600);
}

.comment-card-date {
	margin: 0;
	font-size: var(--font-size-400);
	color: var(--color-neutral-600);
}

.comment-card-text {
	font-size: var(--font-size-500);
	color: var(--color-neutral-900);
}

.comment-section ul {
	list-style: none;
	padding: 0;
	margin: var(--size-400) 0;
}

.comment-section li {
	margin-bottom: var(--size-300);
	padding: var(--size-300);
	background-color: var(--color-neutral-200);
	border-radius: var(--size-300);
	border: 1px solid var(--color-neutral-300);
}

.comment-section li p {
	margin: 0;
}

.comment-section form {
	margin-top: var(--size-400);
}

.comment-section-button {
	padding: var(--size-200) var(--size-400);
	font-size: var(--font-size-nav);
	background-color: var(--color-primary-500);
	margin-top: var(--size-300);
	margin-bottom: var(--size-300);
	text-align: center;
	text-transform: none;
}

.comment-section-button:hover,
.comment-section-button:focus {
	background-color: var(--color-primary-700);
}

.comment-section-text {
	text-align: center;
	text-decoration: none;
	color: var(--color-primary-700);
	font-weight: var(--font-weight-semi-bold);
	padding: var(--size-300);
}

.comment-section-text:hover {
	color: var(--color-primary-800);
}

/* User Profile */
.user-profile {
	padding: var(--size-400);
	max-width: 50rem;
	margin: 0 auto;
}

.user-profile-card {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--size-100);
	background-color: var(--color-neutral-100);
	padding: var(--size-400);
	border-radius: var(--size-500);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.user-profile-card-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--size-300);
	margin-bottom: var(--size-400);
}

.user-info {
	display: flex;
	align-items: center;
	gap: var(--size-200);
}

.user-profile-picture {
	border-radius: 50%;
	width: var(--size-900);
	height: var(--size-900);
}

.user-name {
	margin: 0;
	font-size: var(--font-size-600);
	color: var(--color-neutral-900);
}

.user-username {
	margin: 0;
	font-size: var(--font-size-500);
	color: var(--color-neutral-600);
}

.user-profile-card-actions {
	display: flex;
	align-items: center;
	gap: var(--size-300);
}

.user-profile-button,
.user-profile-button-secondary,
.user-profile-button-unfollow {
	padding: var(--size-200) var(--size-400);
	font-size: var(--font-size-nav);
	background-color: var(--color-primary-500);
}

.user-profile-button:hover,
.user-profile-button:focus {
	background-color: var(--color-primary-700);
}

.user-profile-button-secondary {
	background-color: var(--color-neutral-700);
}

.user-profile-button-secondary:hover,
.user-profile-button-secondary:focus {
	background-color: var(--color-neutral-800);
}

.user-profile-button-unfollow {
	background-color: var(--color-accent-500);
}

.user-profile-button-unfollow:hover,
.user-profile-button-unfollow:focus {
	background-color: var(--color-accent-700);
}

.user-bio {
	margin-top: var(--size-200);
	font-size: var(--font-size-500);
	color: var(--color-neutral-800);
}

.user-stats {
	display: flex;
	align-items: center;
	margin-top: var(--size-400);
	gap: var(--size-500);
}

.user-stat {
	display: flex;
	align-items: center;
	gap: var(--size-100);
	text-decoration: none;
}

.user-stat-number {
	font-size: var(--font-size-500);
	color: var(--color-neutral-900);
	font-weight: var(--font-weight-bold);
}

.user-stat-label {
	font-size: var(--font-size-500);
	color: var(--color-neutral-900);
	text-decoration: none;
	transition: color 0.3s;
}

.user-stat-label:hover {
	color: var(--color-primary-500);
	font-weight: var(--font-weight-bold);
}

.user-routes {
	margin-top: var(--size-600);
}

.user-routes-username {
	font-size: var(--font-size-600);
	color: var(--color-neutral-900);
	margin-bottom: var(--size-400);
}

/* Edit Profile */
.edit-profile {
	padding: var(--size-400);
	max-width: 50rem;
	margin: 0 auto;
}

.edit-profile-form {
	background-color: var(--color-neutral-100);
	border: 1px solid var(--color-neutral-300);
	border-radius: var(--size-500);
	padding: var(--size-400);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.edit-profile-form h2 {
	text-align: center;
	margin-bottom: var(--size-400);
	color: var(--color-primary-700);
}

.edit-profile-button:hover,
.edit-profile-button:focus {
	background-color: var(--color-primary-700);
}

/* Update Password */
.update-password {
	padding: var(--size-400);
	max-width: 50rem;
	margin: 0 auto;
}

.update-password-form {
	background-color: var(--color-neutral-100);
	border: 1px solid var(--color-neutral-300);
	border-radius: var(--size-500);
	padding: var(--size-400);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.update-password-form h2 {
	text-align: center;
	margin-bottom: var(--size-400);
	color: var(--color-primary-700);
}

/* User Card */
.user-card {
	display: flex;
	align-items: center;
	gap: var(--size-400);
	padding: var(--size-400);
	background-color: var(--color-neutral-100);
	border-radius: var(--size-500);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	margin-bottom: var(--size-400);
}

.user-card-picture {
	border-radius: 50%;
	width: var(--size-700);
	height: var(--size-700);
}

.user-card-info {
	display: flex;
	align-items: center;
	gap: var(--size-200);
	flex-grow: 1;
}

.user-card-name {
	font-size: var(--font-size-500);
	color: var(--color-neutral-900);
	text-decoration: none;
	font-weight: var(--font-weight-bold);
}

.user-card-name:hover,
.user-card-name:focus {
	color: var(--color-primary-500);
}

.user-card-username {
	font-size: var(--font-size-500);
	color: var(--color-neutral-600);
	margin: 0;
}

.user-card-follow,
.user-card-unfollow {
	padding: var(--size-200) var(--size-400);
	font-size: var(--font-size-nav);
	border: none;
	border-radius: var(--size-500);
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.user-card-follow {
	background-color: var(--color-primary-500);
	color: white;
}

.user-card-follow:hover,
.user-card-follow:focus {
	background-color: var(--color-primary-700);
}

.user-card-unfollow {
	background-color: var(--color-accent-500);
	color: white;
}

.user-card-unfollow:hover,
.user-card-unfollow:focus {
	background-color: var(--color-accent-700);
}

.followers-page,
.following-page {
	padding: var(--size-400);
	max-width: 50rem;
	margin: 0 auto;
}

.followers-page h2,
.following-page h2 {
	font-size: var(--font-size-700);
	color: var(--color-neutral-900);
	text-align: center;
	margin-bottom: var(--size-400);
}

/* Bookmarks Page */
.bookmarks-page {
	padding: var(--size-400);
	max-width: 50rem;
	margin: 0 auto;
}

.bookmarks-page h2 {
	font-size: var(--font-size-800);
	color: var(--color-primary-700);
	margin-bottom: var(--size-400);
	text-align: center;
}

.modal {
	background-color: white;
	border-radius: 8px;
	padding: 20px;
	max-width: 500px;
	margin: 0 auto;
}

.modal-overlay {
	background-color: rgba(0, 0, 0, 0.75);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.modal-actions {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.modal-delete-button {
	background-color: var(--color-accent-500);
	color: white;
}

.modal-delete-button:hover,
.modal-delete-button:focus {
	background-color: var(--color-accent-700);
}

.modal-cancel-button {
	background-color: var(--color-neutral-700);
	color: white;
}

.modal-cancel-button:hover,
.modal-cancel-button:focus {
	background-color: var(--color-neutral-800);
}

/* Utility classes */

.container {
	--max-width: 1110px;
	--padding: 1rem;

	width: min(var(--max-width), 100% - (var(--padding) * 2));
	margin-inline: auto;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.color-primary-700 {
	color: var(--color-primary-700);
}

.error-404-text {
	font-size: var(--font-size-800);
	font-weight: var(--font-weight-bold);
	text-align: center;
	color: red;
}

.error-404-link {
	color: var(--color-primary-500);
	transition: color 0.3s;
}

.error-404-link:hover {
	color: var(--color-primary-800);
}
